/* Main Color: #1c5996; */
/* Secondary Color: #964b1c; */


/* Constant */


body {
	padding-top: 56px;
}


/* Navbar */

.search-form {
	margin-left: 250px;
}
.search-form,
.search-form input {
	width: 500px !important;
	border-radius: 0;
}

.search-form input {
    border: none;
    border-radius: 10px;
}

.links ul {
	margin-right: 40px;
}
.links ul li {
	margin-right: 10px;
}

.navbar  {
	background-color: #1c5996!important;
}

.navbar div a.navbar-brand,
.navbar div ul li a.nav-link  {
	color: #fff!important;
}

.navbar span.logo {
	background-color: #fff;
	color: #1c5996;
	padding: 8px;
	border-radius: 10px 20px;
}

/* Header */

.home_picture {
    height: 666px;
    background-image: url('../images/home_default.jpg');
    background-repeat: no-repeat;
    background-origin: content-box;
    background-size: cover;
    position: relative;
}

.home_picture .background-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.home_picture .background-text p {
    font-size: 50px;
    color: #FFF;
}

.home_picture .background-text .free {
    color: #82ff9e;
}

.home_picture .background-text a {
    font-size: 30px;
}

/* My courses (Carousal) */

.controls-top a {
    border-radius: 50%;
    background-color: #1C5996;
    color: #FFF;
    padding: 10px 20px;
    font-size: 25px;
    -webkit-box-shadow: 0 5px 11px 0 rgba(0,0,0,0.18), 0 4px 15px 0 rgba(0,0,0,0.15);
    box-shadow: 0 5px 11px 0 rgba(0,0,0,0.18), 0 4px 15px 0 rgba(0,0,0,0.15);
}

.controls-top a:hover {
    -webkit-box-shadow: 0 8px 17px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
    box-shadow: 0 8px 17px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
    transition: all .2s ease-in-out;
}

/* Famous track courses */

.famous-courses .course {
    border: #DDD solid 2px;
    border-radius: 7px;
    overflow: hidden;
}

.famous-courses .course .course-img {
    width: 100%;
}

/* Footer */

.footer{
    background: #152F4F;
    color:white;

    .links{
        ul {list-style-type: none;}
        li a{
            color: white;
            transition: color .2s;
            &:hover{
            text-decoration:none;
            color:#4180CB;
            }
        }
    }
    .about-company{
        i{font-size: 25px;}
        a{
            color:white;
            transition: color .2s;
            &:hover{color:#4180CB}
        }
    }
    .location{
        i{font-size: 18px;}
    }
    .copyright p{border-top:1px solid rgba(255,255,255,.1);}
}

/* Course view */

.course-content {
    padding-left: 30px !important;
}
